@model IEnumerable<WebEDI.Respository.ViewModels.OrderUserModel>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/OrderUser.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div id="div_headerOption" class="d-block mt-2 mb-2 content_box_solid p-3">
    <div class="form-inline">
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">注文月</label>
            <input type="text" size="10" readonly id="txt_Date" class="form-control" name="date" value=@ViewBag.Date><br />
        </div>
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">問合せ担当者名</label>
            <input type="text" id="txt_Date" readonly class="form-control" name="date" value=@ViewBag.Name><br />
        </div>
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">問合せＴＥＬ</label>
            <input type="text" id="txt_Date" readonly size="15" class="form-control" name="date" value=@ViewBag.Tel><br />
        </div>
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">問合せＦＡＸ</label>
            <input type="text" id="txt_Date" size="15" readonly class="form-control" name="date" value=@ViewBag.Fax><br />
        </div>
    </div>
</div>

<div class="table-scrollable">
    <table id="pruebatabla" class="table-striped" style="border-collapse:separate !important">
        <thead>
            <tr>
                <th class="header_table_checkbox">対象</th>
                <th class="header_table col_4">注文明細状態</th>
                <th class="header_table col_3">注文日</th>
                <th class="header_table col_3">注文伝票NO</th>
                <th class="header_table col_3">注文明細行</th>
                <th class="header_table col_3">製番</th>
                <th class="header_table col_3">添付ファイル</th>
                <th class="header_table col_3">品目</th>
                <th class="header_table col_3">品名</th>
                <th class="header_table col_3">購買機種名</th>
                <th class="header_table col_3">サイズ(W)</th>
                <th class="header_table col_3">サイズ(H)</th>
                <th class="header_table col_3">サイズ(L)</th>
                <th class="header_table col_3">仕様</th>
                <th class="header_table col_3">仕様備考</th>
                <th class="header_table col_3">希望納期</th>
                <th class="header_table col_3">数量</th>
                <th class="header_table col_3">単位名</th>
                <th class="header_table col_3">注文単価</th>
                <th class="header_table col_3">注文金額</th>
                <th class="header_table col_3">消費税金額</th>
                <th class="header_table col_3">納入場所名</th>
                <th class="header_table col_3">棚番</th>
                <th class="header_table col_3">注文明細備考１</th>
                <th class="header_table col_3">受信日時</th>
                <th class="header_table col_3">確認日時</th>
            </tr>
        </thead>
        <tbody id="tbody_table">
            @{
                int count = 0;
                @foreach (var order in Model)
                {
                    string idCboData = "cboData_" + count.ToString();
                    <tr>
                        <td class="cell_table_checkbox col_1">
                            <input type="checkbox" id=@idCboData name="checkbox_@count" />
                            <input type="hidden" id="id_@count" value="@order.f_edi_hatsuchuumeisai_id" />
                        </td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_meisai_joutai_kubun)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_hi)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_no)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_meisai_gyou)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_seiban)</td>
                        <td class="cell_table_data col_3"><a href="~/TestFile/Test.txt"><img src="~/images/icons-attachments.png" asp-append-version="true"> </a></td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_hinmoku_cd)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_hinmoku_mei)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_koubai_kishumei)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_saizu_w)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_saizu_h)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_saizu_l)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_shiyou_jouhou)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_shiyou_bikou)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_kibou_nouki)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_suuryou)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_tani_mei)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_tanka)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_kingaku)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_shouhizei_kingaku)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_nounyuusaki_mei)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_tanaban)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_chuumon_meisai_bikou1)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_jushin_nichiji)</td>
                        <td class="cell_table_data col_3">@Html.DisplayFor(modelItem => order.f_kakunin_nichiji)</td>
                    </tr>
                    count++;
                }
            }
        </tbody>
    </table>
</div>
<div id="div_footerOption" class="d-block mt-2">
    <div class="form-inline justify-content-end">
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">金額合計 </label>
            <input type="text" id="Txt_Num1" pattern="^[\d,]+$" maxlength="10" readonly class="form-control" value=@ViewBag.sumOrder>
        </div>

        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">消費税金額合計 </label>
            <input type="text" id="Txt_Num1" pattern="^[\d,]+$" maxlength="10" readonly class="form-control" value=@ViewBag.sumOrdertext>
        </div>
    </div>
    <div class="form-inline row mt-2">
        <div class="form-inline col-6">
            <button class="btn" id="butZipAndDownload">
                添付ファイルダウンロード
            </button>
        </div>
        <div class="form-inline  col-6 justify-content-end">
            <button class="btn" id="btnConfirm" >
                確認
            </button>
            <button class="btn ml-2" id="butExportCSV">
                CSVダウンロード
            </button>
            <button class="btn ml-2" id="butOrderOutput" >
                注文書出力
            </button>
            <button onclick="backMenu()" class="btn ml-2" id="butBack">
                戻る
            </button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>    
    <script src="~/js/OrderUser.js"></script>
    <script src="~/js/foundation-datepicker.js"></script>
    <script src="~/js/foundation-datepicker.ja.js"></script>
    <script src="~/js/freeze-table.js"></script>
    <script>
        $(document).ready(function () {
            reloadScrollTable();

            $(window).resize(function () {
                reloadScrollTable();
            });
        });

        function reloadScrollTable() {
            var h = $(window).height() - ($("#div_headerOption").height() + $("#div_footerOption").height() + $(".webediheader").height() + 120);

            $(".table-scrollable").css('height', h);

            $(".table-scrollable").freezeTable({
                'scrollable': true,
                'columnNum': 1,
                //'freezeColumn': false,
                'scrollBarHeight': 17
            });
        }
    </script>
}
